
.bj{
    width: 1900px;
    height: 900px;
    background-image: url(./Img/login1.jpg) ;
    background-size: 100% 100%;
    background-size: 1900px 900px;
 
}


.loginout{
    width: 500px;
    height:500px;
    margin-top: 50px;
    margin-left: 680px;
    float: left;
    position: absolute;
}

.biaoti{
    width: 300px;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 130px;
    color: rgb(184, 219, 250);
    text-align: center;
}

.shuru{
    width: 400px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.wenzi{
    font-size: 30px;
    height: 60px;
    width: 100px;
    line-height:60px;
    color: rgb(208, 253, 253);
}



.denglu{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-left: 93px;
    
   
}

.routedenglu{
    float: left;
    width: 1900px;
    
}
